{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="{% if current_path and current_path is starting_with('/en/') %}en{% else %}de{% endif %}" class="bg-gray-50">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block page_title %}Munich Embedded{% endblock %}</title>

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.munich-embedded.com{% if current_path %}{{ current_path }}{% endif %}">
        <meta property="og:title" content="{% block og_title %}Munich Embedded{% endblock %}">
        <meta property="og:description" content="{% block og_description %}Munich Embedded brings together leading experts and developers from the embedded industry to discuss testing strategies, security concepts and development tools.{% endblock %}">
        <meta property="og:image" content="https://www.munich-embedded.com/logo_munich_embedded_og.png">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.munich-embedded.com{% if current_path %}{{ current_path }}{% endif %}">
        <meta property="twitter:title" content="{% block twitter_title %}Munich Embedded{% endblock %}">
        <meta property="twitter:description" content="{% block twitter_description %}Munich Embedded brings together leading experts and developers from the embedded industry to discuss testing strategies, security concepts and development tools.{% endblock %}">
        <meta property="twitter:image" content="https://www.munich-embedded.com/logo_munich_embedded_og.png">

        <link href="/fonts/fonts.css" rel="stylesheet" integrity="sha384-{{ get_hash(path='fonts/fonts.css', sha_type=384, base64=true) | safe }}">
        <link href="/css/style.css" rel="stylesheet" integrity="sha384-{{ get_hash(path='css/style.css', sha_type=384, base64=true) | safe }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <script defer src="/js/email-mod.js" integrity="sha384-{{ get_hash(path='js/email-mod.js', sha_type=384, base64=true) | safe }}"></script>
        <script defer src="https://pirsch.joel-1a0.workers.dev/static/files/pa.js" id="pianjs" data-hit-endpoint="https://pirsch.joel-1a0.workers.dev/p/pv" data-event-endpoint="https://pirsch.joel-1a0.workers.dev/p/e" data-session-endpoint="https://pirsch.joel-1a0.workers.dev/p/s"></script>
        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "Munich Embedded",
            "alternateName": ["ME", "Munich Embedded Conference"],
            "url": "https://www.munich-embedded.com/"
          }
        </script>
        <script>
          /*to prevent Firefox FOUC, this must be here*/
          let FF_FOUC_FIX;
        </script>
    </head>

    <body class="min-h-screen flex flex-col text-black">
        {{ macros::navigation(page_url=current_path, page_title=page.title | default(value=section.title), lang=lang) }}

        {% block content %}
        {% endblock %}

        {{ macros::footer(page_url=current_path, lang=lang) }}
    </body>

</html>
