name: Build site and run lychee

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # This runs on every PR push because it's super cheap
  zola-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4
      - name: Build only
        uses: shalzz/zola-deploy-action@v0.22.1
        env:
          BUILD_ONLY: true
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true # fail workflow run on error
          args: --root-dir "$(pwd)/public" public --exclude ".+\.analog.com" --exclude "https://ilbers.de/" --accept 100..=103,200..=299,403,429
